<div class="flex flex-col h-screen justify-between ">
    <header class="fixed w-full body-font" style="background-color: black;color: white;">
        <div class="text-center py-4">
            <a class="ml-3 text-xl hover:opacity-75" routerLink="/" style="font-family: Righteous;"><b>Top10 IMDb Movies</b></a>
        </div>
    </header>

    <main class="mb-auto bg-dark">
        <router-outlet></router-outlet>
    </main>


    <div class="bg-gray-200">
        <div class="container px-5 py-2 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <img src="assets/images/imdb.png" class="w-16 h-16 ">
                <span class="ml-3 text-xl ">Top10Movies</span>
            </a>
            <p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4">© 2020 copyright —
                Punit Raj
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class="text-gray-900 cursor-pointer transform hover:scale-105"
                href="https://www.facebook.com/punit.raj.355744/">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                    viewBox="0 0 24 24">
                    <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
            </a>
            <a class="ml-3 text-gray-900 cursor-pointer transform hover:scale-105"
                href="https://www.instagram.com/raj_punit_99/">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-5 h-5" viewBox="0 0 24 24">
                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                </svg>
            </a>
            <a class="ml-3 text-gray-500 cursor-pointer transform hover:scale-105" href="https://github.com/punit3299/imdb-web-scrapper">
                <img src="https://image.flaticon.com/icons/png/512/25/25231.png" class="w-5 h-5">
            </a>
            <a class="ml-3 text-gray-900 cursor-pointer transform hover:scale-105"
                href="https://www.linkedin.com/in/punit-raj-6765aba4/">
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                    <path stroke="none"
                        d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                    <circle cx="4" cy="4" r="2" stroke="none"></circle>
                </svg>
            </a>
            </span>
        </div>
    </div>
</div>

<!-- <div class="flex flex-col h-screen justify-between">
    <header class=" bg-red-500">Header</header>
    <main class="mb-auto bg-green-500">Content</main>
    <footer class=" bg-blue-500">Footer</footer>
  </div> -->